{% extends "base.html" %}

{% block title %}HCM Gala{% endblock %}

{% block body %}
{% raw %}
<div class="container">

  <div class="col-md-3 text-center my-3">
    <img src="/static/img/logo.png" style="max-width:50%;">
  </div>

	<div v-if="display" id="section1" class="mt-4">
    <div class="form-group form-row">
      <div class="col">
        <label for="fname_input">First Name</label>
        <input v-model="first_name" name="first_name" class="form-control" id="fname_input" type="text" placeholder="First Name">
      </div>
      <div class="col">
        <label for="lname_input">Last Name</label>
        <input v-model="last_name" name="last_name" class="form-control" id="lname_input" type="text" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="email_input">Email</label>
      <input v-model="email" name="email" class="form-control" id="email_input" type="text" placeholder="you@gmail.com">
    </div>
    <div class="form-group">
      <label for="phone_input">Phone</label>
      <input v-model="phone" name="phone" class="form-control" id="phone_input" type="text" placeholder="8601231234">
    </div>
    <div class="form-group">
      <label for="address_input">Address</label>
      <input v-model="address" name="address" class="form-control" id="address_input" type="text" placeholder="111 Imaginary Dr">
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <label for="city_input">City</label>
        <input v-model="city" name="city" class="form-control" id="city_input" type="text" placeholder="Hartford">
      </div>
      <div class="col-md-3">
        <label for="state_input">State</label>
        <input v-model="state" name="state" class="form-control" id="state_input" type="text" placeholder="CT">
      </div>
      <div class="col-md-3">
        <label for="zipcode_input">Zip</label>
        <input v-model="zipcode" name="zipcode" class="form-control" id="zipcode_input" type="text" placeholder="06112">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-2">
        <button v-on:click="submit" class="btn btn-primary my-3">Submit</button>
      </div>
      <div class="col-md-2">
        <button v-on:click="next" class="btn btn-light my-3">Next</button>
      </div>
    </div>
    <br/><br/>
	</div>

	<div v-show="display" id="section2" class="mt-4" style="display:none;">
    <h3 class="my-4">I'm Interested In Helping HCM</h3>
    <div class="form-check">
      <label class="form-check-label">
        <input v-model="email_subscribe" name="email_subscribe" class="form-check-input mr-2" type="checkbox" value="">
        Subscribe for email updates
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input v-model="prayer_partner" name="prayer_partner" class="form-check-input mr-2" type="checkbox" value="">
        Prayer Partner
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input v-model="volunteer" name="volunteer" class="form-check-input mr-2" type="checkbox" value="">
        Volunteer
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="noah" name="noah" class="form-check-input mr-2" type="checkbox" value="">
        Noah After School (Grades 1-5)
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="younglife" name="younglife" class="form-check-input mr-2" type="checkbox" value="">
        Younglife (Grades 9-12)
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="cooking" name="cooking" class="form-check-input mr-2" type="checkbox" value="">
        Cooking / Donating Meals
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="maintenance" name="maintenance" class="form-check-input mr-2" type="checkbox" value="">
        Service Projects (i.e. building repairs, painting, etc)
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="administration" name="administration" class="form-check-input mr-2" type="checkbox" value="">
        Administration (i.e. mailings, etc)
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="event_planning" name="event_planning" class="form-check-input mr-2" type="checkbox" value="">
        Event Planning
      </label>
    </div>
    <div class="form-check pl-4">
      <label class="form-check-label">
        <input v-model="table_host" name="table_host" class="form-check-input mr-2" type="checkbox" value="">
        Table Host at Annual Gala
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input v-model="contact_me" name="contact_me" class="form-check-input mr-2" type="checkbox" value="">
        Please Contact Me
      </label>
    </div>
    <h3 class="my-3">I Can Help Spread The Word About HCM</h3>
    <div class="form-check">
      <label class="form-check-label">
        <input v-model="tell_friends" name="tell_friends" class="form-check-input mr-2" type="checkbox" value="">
        I'd like to tell my friends about HCM
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input v-model="tell_church" name="tell_church" class="form-check-input mr-2" type="checkbox" value="">
        I'd like to talk to my church about supporting HCM
      </label>
    </div>
    <div class="form-row">
      <div class="col-md-2 my-3">
        <button v-on:click="submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="col-md-4 my-3">
        <button v-on:click="back" class="btn btn-light">Back</button>
        <button v-on:click="next" class="btn btn-light ml-4">Next</button>
      </div>
    </div>
    <br/><br/>
	</div>

  <div v-show="display" id="section3" style="display:none;">
    <div class="form-row my-3">
      <div class="col-md-2 my-2">
        <label for="one_time_input">One Time Donation</label>
        <input v-model="one_time_donation" class="form-control" id="one_time_input" type="number">
      </div>
      <div class="col-md-2 my-2">
        <label for="monthly_input">Monthly Donation</label>
        <input v-model="monthly_donation" class="form-control" id="monthly_input" type="number">
      </div>
    </div>
    <div class="form-check my-2">
      <label class="form-check-label">
        <input v-model="renewal" class="form-check-input mr-2" type="checkbox" value="">
        Are you renewing last years commitment?
      </label>
    </div>
    <div v-show="renewal" class="form-check my-2">
      <label class="form-check-label">
        <input v-model="increase_donation" class="form-check-input mr-2" type="checkbox" value="">
        Would you consider increasing your donation this year?
      </label>
    </div>
    <div v-show="increase_donation">
      <div class="form-row my-3">
        <div class="col-md-4 my-2">
          <input v-model="renewal_increase" class="form-control" id="renewal_increase_input" type="number">
        </div>
      </div>
      <label>Increase last years amount by % or enter in a new amount above</label><br/>
      <div class="form-row text-center my-2">
        <button v-on:click="increase(10)" type="button" class="btn btn-info ml-2">10%</button>
        <button v-on:click="increase(20)" type="button" class="btn btn-info ml-2">20%</button>
        <button v-on:click="increase(50)" type="button" class="btn btn-info ml-2">50%</button>
        <button v-on:click="increase(100)" type="button" class="btn btn-info ml-2">100%</button>
      </div>
      <label class="my-2"><strong>New total monthly commitment: {{ total_monthly }}</strong></label>
    </div>
    <div class="form-row">
      <div class="col-md-2 my-3">
        <button v-on:click="submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="col-md-4 my-3">
        <button v-on:click="back" class="btn btn-light">Back</button>
        <button v-on:click="next" class="btn btn-light ml-4">Next</button>
      </div>
    </div>
  </div>

  <div id="overlay" onClick="overlay_off()">
    <h4 id="overlay_text">Whoa there cowboy, wait 'till Dave says it's time for the next page ;)</h4>
  </div>

</div>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/js/utils.js"></script>
<script src="/static/js/main.js"></script>

{% endraw %}
{% endblock %}
