{% extends "base.html" %}

{% block title %}Some Title{% endblock %}

{% block body %}
{% raw %}

<div id="stream" class="container">

  <div class="row my-5" id="progress-bar">
    <div v-bind:style="{width: percent+'%', 'background-color': background_color}" class="align-middle" id="bar-filler">
      <h1 class="main-tracker my-5">${{ total }}</h1>
    </div>
  </div>

	<div id="fireworks-template">
	  <div id="fw" class="firework"></div>
	  <div id="fp" class="fireworkParticle"><img src="/static/img/particles.gif" alt="" /></div>
	</div>
	<div id="fireContainer"></div>

</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="/static/js/soundmanager2-nodebug-jsmin.js"></script>
<script src="/static/js/fireworks.js"></script>
<script src="/static/js/pnotify.custom.min.js"></script>
<script src="/static/js/stats.js"></script>

{% endraw %}
{% endblock %}
